.footer {
    
  padding-top: 80px;
  border-top: 1px solid #e6e8ec;
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid #f4f5f6;
    padding-bottom: 48px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    color: #23262f;
    padding: 25px 0;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    width: 50%;
    transform: translateX(50px);
    .footer__item {
      width: 160px;
      font-size: 14px;
      font-weight: 700;
      color: #777e90;
      transition: 0.3s ease-in-out;
      &:hover {
        color: blue;
      }
    }
  }
  .footer__enter {
    h4 {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .enter-btn {
      border: 2px solid #e6e8ec;
      border-radius: 90px;
      padding: 0px 8px 14px 16px;
      input {
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        color: #777e90;
      }
      .btn {
        background-color: #3b71fe;
        border-radius: 50%;
        border: 1px solid #3b71fe;
        padding: 6px 6px;
        transform: translateZ(-20px);
        transform: translateY(7px);
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: red;
          border: 1px solid red;
        }
        img {
          display: block;
          margin: auto;
          margin-top: 2px;
        }
      }
    }
  }
}
@include tablet() {
  .footer {
    &__list {
      width: 50%;
      gap: 18px;
      .footer__item {
        width: 120px;
      }
    }
  }
}
@include mobile() {
  .footer {
    &__wrapper {
      flex-direction: column;
    }
    &__list {
      width: 100%;
      height: 115px;
      display: block;
      margin: auto;
      position: relative;
      margin: 48px 0;
      transform: none;
      .footer__item {
        position: absolute;
        width: 30%;
        top: 0;
        left: 0;
        margin: 0;
      }
      .footer__item:nth-child(2) {
        top: 40px;
      }
      .footer__item:nth-child(3) {
        top: 80px;
      }
      .footer__item:nth-child(4) {
        top: 0;
        left: 50%;
      }
      .footer__item:nth-child(5) {
        top: 40px;
        left: 50%;
      }
      .footer__item:nth-child(6) {
        top: 80px;
        left: 50%;
      }
    }
    .footer__enter {
      width: 100%;
      .enter-btn {
        width: 100%;
        position: relative;
        padding: 10px 8px 18px 16px;
        .btn {
          position: absolute;
          top: -6px;
          right: 10px;
        }
      }
    }
  }
}
